.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#MultiviewContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    flex-grow: 1;
    overflow: auto;
}

.scatterplotDivContainer {
    width: 100%;
    height: 45vh;
}

.parallel-coordinates-container {
    width: 100%;
    height: 55vh;
}

.scatterplotDivContainer svg,
.parallel-coordinates-container svg {
    width: 100%;
    height: 100%;
}